/*  
https://coolors.co/ff5154-83bcff-fcf7ed-3fdecc-34252f
Tart Orange - #FF5154
French Sky Blue - #83BCFF
Floral White - #FCF7ED
Turquoise - #3fDECC
Black Coffee - #34252F
*/

/*Global Styles*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #34252f;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
a {
  color: #3fdecc;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.5;
}
h3 {
  margin-bottom: 0;
}
.content-wrap {
  max-width: 950px;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider section {
  border-bottom: 1px dashed #fcf7ed;
  padding: 25px 0;
}
.divider section:last-of-type {
  border-bottom: 0;
}

/*About*/
header {
  background: #34252f;
  color: #fcf7ed;
}
header h2 {
  line-height: 1;
}
header .content-wrap {
  padding-bottom: 10px;
}

/*Navbar*/
nav {
  background: #34252f;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
}
nav a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.navicon {
  color: #3fdecc;
  display: none;
}

/*Projects*/
#projects {
  background: #fcf7ed;
}
#projects a {
  color: #ff5154;
}
#projects h3 {
  font-family: "Montserrat", sans-serif;
}
.btn {
  background: #fcf7ed;
  text-decoration: none;
  padding: 8px;
  border: 4px solid #83bcff;
  display: inline-block;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover {
  background: #83bcff;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  max-width: 300px;
  max-height: 300px;
  flex: 0 0 300px;
  margin: 5px;
}
.card {
  width: 100%;
  height: 300px;
  border: 10px solid #3fdecc;
  background: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card:hover {
  border-color: #ff5154;
}
.card h3 {
  margin-top: 0;
}
.card img {
  height: 100px;
  width: auto;
  padding: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.project-description {
  max-width: 500px;
  min-width: 280px;
  width: 50%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 10px solid #3fdecc;
}
.slideshow-container {
  min-height: 100px;
  width: 100%;
}
.slideshow-img {
  display: none;
}
.slideshow-img.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-btn {
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
#projects .modal-btn:hover,
.modal-btn:focus {
  color: #34252f;
}

/*Work Experience*/
#work-experience {
  background: #34252f;
  color: #fcf7ed;
}
.job-details h3 + p {
  font-style: italic;
}

/*Education*/
#education {
  background: #fcf7ed;
}

/*Contact*/
footer {
  background: #34252f;
  color: #fcf7ed;
}
.contact-info {
  display: flex;
  justify-content: start;
}
.contact-info h2 {
  margin-right: 20px;
}
.big-link {
  font-size: 36px;
  display: block;
  padding: 10px;
}

/*Responsive*/
@media screen and (min-width: 750px) {
  header p {
    margin-bottom: 0;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}
@media screen and (max-width: 749px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 36px;
  }
  header h1 {
    line-height: 1;
    margin-bottom: 20px;
  }
  header h2:last-of-type {
    margin-top: 15px;
  }
  nav {
    position: absolute;
    top: 0;
    width: 100%;
  }
  nav ul {
    display: none;
  }
  .visible {
    display: block;
  }
  .navicon {
    display: block;
    text-align: right;
    padding: 5px 10px;
  }
  .container {
    display: block;
  }
  .card {
    height: 300px;
  }
  .card img {
    height: auto;
    width: 33%;
    padding: 10px;
  }
  .project-description {
    font-size: 14px;
  }

  .contact-info {
    display: block;
  }
  .contact-info a {
    display: inline;
  }
}
